<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <table th:fragment="userList" class="w-full bg-white shadow-md rounded">
        <thead>
            <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                <th class="py-3 px-6 text-left">ID</th>
                <th class="py-3 px-6 text-left">Name</th>
                <th class="py-3 px-6 text-left">Email</th>
            </tr>
        </thead>
        <tbody class="text-gray-600 text-sm font-light">
            <tr th:each="user : ${users}" class="border-b border-gray-200 hover:bg-gray-100">
                <td class="py-3 px-6 text-left whitespace-nowrap" th:text="${user.id}"></td>
                <td class="py-3 px-6 text-left" th:text="${user.name}"></td>
                <td class="py-3 px-6 text-left" th:text="${user.email}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>